@{
    ViewData["Title"] = "About Gabriel Sterling";
}
<h2>@ViewData["Title"]</h2>

<p>
    Gabriel is an avid technologist and developer, with an eye for solving complex problems by taking a step back and truly understanding the problem being solved,  in order to craft a tailored and effective solution.
</p>
