@{
    ViewData["Title"] = "Gabriel Sterling";
}
<h2>@ViewData["Title"]</h2>

<address>
    809 Highland Park Dr<br />
    Nashville, TN 37205
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:gabriesterling+openspam@gmail.com">Gabriel's E-Mail</a><br />
</address>
